/*ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron*/

.jumbotron h1 {
    color: red;
}

/*ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar*/

.nav > span {
    color: red;
}

/*ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron*/

.lead.mb-0 a.font-weight-bold {
    color: red;
}

/*ESERCIZIO 4) Crea un selettore per selezionare il primo blog post*/

main div.blog-post:first-of-type {
    background-color: aqua;
}

/*ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso*/

.blog-post hr {
    border-color: red;
}

/*ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar*/

.nav span:nth-child(even) {
    color: blue;
}

/*ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio")*/

.p-4 .mb-0 li a{
    color: red;
}

/*ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post*/

main div.blog-post:nth-child(3) p.blog-post-meta a {
    color: green;
}

/*ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post*/

main div.blog-post:last-of-type li:nth-child(even) {
    color: red;
}

/*ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra*/

a.float-right.mb-3.mr-3 {
    color: red;
}

/*ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso*/

nav.blog-pagination a.btn-outline-secondary {
    background-color: aqua;
}

/*ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer*/

footer a:last-of-type {
    color: red;
}